body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:1024px;
    height:1024px;
    background-image: url("images/de_cbble_radar.png");
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    float: left;

#canvas{
    position:relative;
    z-index:20;
}

